<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>443695694357-4ovvhqkunamspl143htt4v146n3tpbtn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.443695694357-4ovvhqkunamspl143htt4v146n3tpbtn</string>
	<key>API_KEY</key>
	<string>AIzaSyANbTO6eEmsLw7fVVXLqhKVGZEVrotv66M</string>
	<key>GCM_SENDER_ID</key>
	<string>443695694357</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.TestReactNative</string>
	<key>PROJECT_ID</key>
	<string>testreactnative-1e5dc</string>
	<key>STORAGE_BUCKET</key>
	<string>testreactnative-1e5dc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:443695694357:ios:3ea2c99de01724b5</string>
	<key>DATABASE_URL</key>
	<string>https://testreactnative-1e5dc.firebaseio.com</string>
</dict>
</plist>